/* *{
    border: solid 1px skyblue;
} */
#bigbox{
    display: flex;
}
#txbox #num1,#num2,#ans{
    width: 200px;
    height: 30px;
    margin: 10px;
}
#btns #btn1,#btn2,#btn3,#btn4,#btn5{
    border-radius: 30px;
    border: solid 2px rosybrown;
    font-size: 22px;
    color: lightseagreen;
    width: 30px;
    height: 30px;
    margin: 2px;
}
#btn1:hover {
    background-color : skyblue;
}
#btn2:hover {
    background-color : skyblue;
}
#btn3:hover {
    background-color : skyblue;
}
#btn4:hover {
    background-color : skyblue;
}
#btn5:hover {
    background-color : skyblue;
}